@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.08%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 215.09 100% 20.78%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 180 100% 97%;
    --muted: 0 12% 17%;
    --muted-foreground: 0 12% 67%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 18%;
    --input: 0 0% 21%;
    --primary: 180 100% 97%;
    --primary-foreground: 180 100% 17%;
    --secondary: 180 30% 25%;
    --secondary-foreground: 180 30% 85%;
    --accent: 0 0% 28%;
    --accent-foreground: 0 0% 88%;
    --destructive: 5 84% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 180 100% 97%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
